* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: -webkit-grab;
    cursor: grab;
}

html, body {
    margin: 0px auto;
    font-family: "sofia-pro", sans-serif;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f1e1e;
}

body {
    padding-top: 20px;
    height: 100%;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    letter-spacing: -1px;
    color: #1f1e1e;
    cursor: -webkit-pointer;
    cursor: pointer;
}

a:hover {
    color: #4e7893;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
}

.photos {
    margin: 20px auto 10px auto;
}

img {
    margin: 0px auto;
    padding: 0px 30px;
    max-width: 78vw;
    max-height: 78vh;
}

.image-nav {
    margin: 10px auto;
    padding: 0px 10px;
    max-width: 6vw;
    max-height: 6vh;
}

@media (max-width:426px) {
    html, body {
        font-size: 16px;
    }
    img {
        padding: 0px 5px;
    }
    .image-nav {
        margin: 5px auto;
        padding: 0px 5px;
        max-width: 6vw;
        max-height: 6vh;
    }
}